
.idea/

.ipynb_checkpoints/pybensian_test-checkpoint.ipynb

.ipynb_checkpoints/toy_data-checkpoint.ipynb

*.pyc

*.CIG-Enrique

checkpoint_data*

.ipynb_checkpoints/opt_testing-checkpoint.ipynb

experiments/results/*

results/e*

bayesace/dataset/data/real_imf_categorical/

bayesace/dataset/real_imf_categorical.py

build/lib/*

experiments/benchmark_total.csv

experiments/datasets/eqi.csv

experiments/datasets/student-mat.csv

experiments/datasets/taiwan_bank.csv

dist/bayesace-0.2.1-py3.10.egg
