
.idea/

.ipynb_checkpoints/pybensian_test-checkpoint.ipynb

.ipynb_checkpoints/toy_data-checkpoint.ipynb

*.pyc

*.CIG-Enrique

bayesace/models/BNAF_base/checkpoin*

bayesace/models/BNAF_base/data/BSDS300/BSDS300.hdf5

bayesace/models/BNAF_base/data/gas/

bayesace/models/BNAF_base/data/hepmass/

bayesace/models/BNAF_base/data/miniboone/

bayesace/models/BNAF_base/data/power/

bayesace/models/checkpoint_a/44130_layers1_h10_flows5_gated_2024-03-12-21-14-03/args.json

bayesace/models/checkpoint_a/44130_layers1_h10_flows5_gated_2024-03-12-21-14-03/checkpoint.pt

bayesace/models/BNAF/checkpoint/miniboone_layers1_h10_flows5_gated_2024-03-08-14-30-23/args.json

bayesace/models/BNAF/checkpoint/miniboone_layers1_h10_flows5_gated_2024-03-08-14-30-23/checkpoint.pt

bayesace/models/BNAF/checkpoint/miniboone_layers1_h10_flows5_gated_2024-03-08-14-30-23/results.txt

bayesace/models/BNAF/data/BSDS300/BSDS300.hdf5

bayesace/models/BNAF/data/gas/._ethylene_CO.pickle

bayesace/models/BNAF/data/gas/ethylene_CO.pickle

bayesace/models/BNAF/data/hepmass/._1000_test.csv

bayesace/models/BNAF/data/hepmass/._1000_train.csv

bayesace/models/BNAF/data/hepmass/1000_test.csv

bayesace/models/BNAF/data/hepmass/1000_train.csv

bayesace/models/BNAF/data/miniboone/._data.npy

bayesace/models/BNAF/data/miniboone/data.npy

bayesace/models/BNAF/data/power/._data_dataframe.pickle

bayesace/models/BNAF/data/power/._data.npy

bayesace/models/BNAF/data/power/._household_power_consumption.csv

bayesace/models/BNAF/data/power/._household_power_consumption.txt

bayesace/models/BNAF/data/power/data.npy

bayesace/models/BNAF/tensorboard/checkpoint/miniboone_layers1_h10_flows5_gated_2024-03-08-14-21-43/events.out.tfevents.1709904104.enrique-pc

bayesace/models/BNAF/tensorboard/checkpoint/miniboone_layers1_h10_flows5_gated_2024-03-08-14-23-58/events.out.tfevents.1709904239.enrique-pc

bayesace/models/BNAF/tensorboard/checkpoint/miniboone_layers1_h10_flows5_gated_2024-03-08-14-30-23/events.out.tfevents.1709904624.enrique-pc

bayesace/models/checkpoin*

bayesace/models/tensorboard/checkpoin*


results/exp_1_relaxed/

checkpoint_data*

.ipynb_checkpoints/opt_testing-checkpoint.ipynb
